framework:framework:

  name: "{{.Name}}"  name: "{{.Name}}"

  version: "1.0.0"  version: "1.0.0"



core:core:

  http_server: true  http_server: true

  dependency_injection: true  dependency_injection: true

  event_system: true  event_system: true

  logging: true  logging: true

  database_migrations: true  database_migrations: true



database:database:

  mysql: true  mysql: true

  postgresql: false  postgresql: false

  mongodb: false  mongodb: false

  sqlite: false  sqlite: false



cache:cache:

  redis: false  redis: false

  memcached: false  memcached: false

  in_memory: false  in_memory: false



protocols:protocols:

  http: true  http: true

  grpc: true  grpc: true

  websockets: false  websockets: false

  graphql: false  graphql: false



integrations:integrations:

  jwt: true  jwt: true

  oauth2: false  oauth2: false

  firebase_auth: false  firebase_auth: false

  stripe: false  stripe: false

  google_maps: false  google_maps: false

    

security:security:

  cors: true  cors: true

  rate_limiting: false  rate_limiting: false



development:development:

  swagger: true  swagger: true

  debug_mode: true  debug_mode: true



modules:modules:

  user: true  user: true

  product: true  product: true

  order: true  order: true
