package bootstrap

import (
	orderRepository "{{ .Name }}/internal/modules/order/repository"
	productRepository "{{ .Name }}/internal/modules/product/repository"
	userRepository "{{ .Name }}/internal/modules/user/repository"

	"gorm.io/gorm"
)

func (s *Bootstrap) StartRepositories() {

	db := s.container.MustGet("database").(*gorm.DB)

	// Inicializa os repositórios e os registra no container
	s.Repositories["productRepository"] = productRepository.NewMySQLProductRepository(db)
	s.Repositories["userRepository"] = userRepository.NewMySQLUserRepository(db)
	s.Repositories["orderRepository"] = orderRepository.NewMySQLOrderRepository(db)

}
